<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<h1>Make A New Post</h1>
		<form method="POST" action="/posts/makepost">
			<input type="text" placeholder="Post Title" name="title">
			<input type="text" placeholder="Post Text" name="text">
			<button>Submit post</button><br>
		</form>
		<form method = "GET" action = "/logout"><button>Go Back</button></form>
	</body>
</html>