.taskcontainer{
	display: flex;
}
#todoList{
	background-color: gray;
}
#completeList{
}
.checkmate{
	margin-right: 70px;
}
.deleteMe{
	margin-left: 70px;
}
.taskbox{
	list-style-type: none;
	color: white;
	background-color: teal;
	margin-bottom: 20px;
	padding: 20px;
}