<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Testing</title>
	</head>
	<body>
		<img src="{{{posterURL}}}"> - {{title}} - {{description}} - {{genre}}
		<br>
		<a href="/api/movies">Check out our API!</a>
	</body>
</html>