<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<form method="POST" action="/create">
			<input type="text" name="title" placeholder="Title"><br>
			<input type="text" name="description" placeholder="Description"><br>
			<input type="text" name="genre" placeholder="Genre"><br>
			<input type="text" name="posterURL" placeholder="Poster URL"><br>
			<button id="submit">Submit a new movie</button><br>
		</form>
		
		<br>
		<br>
		<form method="POST" action="/filter">
			<input type="text" name= "genre" placeholder="Genre"><br>
			<button id="submit">Filter by genre</button></form>
		<form method="POST" action="/nofilter"><button id="submit">Remove filter</button><br></form>
		
		<ul>
		{{#movieslist}}
		<li>
			<form method = "POST" action = "/delete">
			<a href="/details/{{{title}}}"><img src="{{{posterURL}}}">- {{title}} 				</a> <input type = "hidden" value = {{movieListing}} name = "movieListing" />
			<button>Delete</button>
			</form>
		</li>
		{{/movieslist}}
		</ul>
		
		<a href="/api/movies">Check out our API!</a>
	</body>
</html>