<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<a href="/posts/makepost">Make a new post</a>
		{{#postslist}}
		<li>
			<form method = "POST" action = "/posts/deletepost">
				{{title}} - {{text}}<input type = "hidden" value = {{post_id}} name = "postslisting" />
				<button>Delete post</button>
			</form>
		</li>
		{{/postslist}}
	</body>
</html>