body{
    background-color: black;
    color: gray;
    font-size: 24px;
}
#score{
    padding-left: 28%;
    padding-top: 10px;
    text-align: justify;
}
#paddle{
    width: 150px;
    height: 20px;
    background: white;
    margin-top: 40%;
    margin-left: 40%;
}
#ball{
    width:10px;
    height:10px;
    background:white;
    margin: 8px;
}
#outside-border{
    width: 29%;
    height:100%;
    background-color: black;
    margin-top:20px;
    margin-left: 10px;
    padding: 6px;
    border-color: lightgreen;
    border-style: solid;
    border-width: 40px;
    position: fixed;
}
#blue-rectangle{
    width: 5%;
    height: 15px;
    background-color: blue;
    color:blue;
    border:solid thick;
    border-width:3px; 
    padding-left:5px; 
    padding-right:5px; 
    padding-top:6px;
    padding-bottom:6px;
    margin:1px;
    display: inline-block;
    position: relative;
}
#red-rectangle{
    width:5%;
    height: 15px;
    background-color: red;
    color:red;
    border:solid thick;
    border-width:3px; 
    padding-left:5px; 
    padding-right:5px; 
    padding-top:6px;
    padding-bottom:6px;
    margin:1px;
    display: inline-block;
    position: relative;
}
#yellow-rectangle{
    width:5%;
    height: 15px;
    background:yellow;
    color: yellow;
    border:solid thick;
    border-width:3px; 
    padding-left:5px; 
    padding-right:5px; 
    padding-top:6px;
    padding-bottom:6px;
    margin:1px;
    display: inline-block;
    position: relative;
}
#blank-rectangle{
    width:5%;
    height: 15px;
    background:black;
    color:black;
    border:solid thick;
    border-width:3px; 
    padding-left:5px; 
    padding-right:5px; 
    padding-top:6px;
    padding-bottom:6px;
    margin:1px;
    display: inline-block;
    position: relative;
}
#green-rectangle{
    width:5%;
    height: 15px;
    background:green;
    color:green;
    border:solid thick;
    border-width:3px; 
    padding-left:5px; 
    padding-right:5px; 
    padding-top:6px;
    padding-bottom:6px;
    margin:1px;
    display: inline-block;
    position: relative;
}