#movielist{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.movielisting{
	display: flex;
	flex-direction: row;
	width: 100px;
	height: 300px;
	margin: 10px;


}
#moviebox{
	display: flex;
}